body {
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  z-index: -1;
}
img {
  width: 120px;
  height: 50px;
  padding-top: 20px;
  margin-left: 20px;
}
main {
  background-color: rgb(255, 255, 255);
  flex-basis: 50%;
}
.account1 {
  display: block;
  text-align: center;
  font-size: 20px;
}
.account2 {
  display: block;
  text-align: center;
  margin-top: -15px;
}
#form {
  display: block;
}
.form-container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-content: center;
  justify-content: center;
}
#email,
#password {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-content: center;
  justify-content: center;
  margin-left: 70px;
  width: 601px;
  height: 35px;
  border: 0;
  box-shadow: 0 0 5px 2px rgba(91, 91, 139, 0.722);
  border-radius: 5px;
}
.aside {
  background-color: rgba(213, 225, 247);
  flex-basis: 50%;
}
.background-image {
  position: relative;
}
.background-image:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  opacity: 0.25;
  background-image: url(./sen2.png), url(./sen2.png);
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: top, bottom;
  padding-left: 130px;
}

.full-height {
  height: 100vh;
}
.absolute {
  display: flexbox;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  position: relative;
}
.flex-container {
  display: flex;
}
#submit1 {
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: rgb(158, 158, 243);
  border: 0;
  box-shadow: 0 0 5px 2px;
  border-radius: 10px;
  font-size: 25px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  width: 160px;
  height: 50px;
  padding-top: 5px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
.Google {
  display: flex;
  width: 40px;
  height: 40px;
  margin-top: -10px;
}
#sign-google {
  font-size: 20px;
  margin-left: 15px;
  margin-bottom: 40px;
}
#google-button {
  margin-left: 290px;
  margin-right: 300px;
  font-size: 16px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  width: 300px;
  height: 50px;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  border-radius: 20px;
  border: 0;
  box-shadow: 0 0 5px 2px rgba(91, 91, 139, 0.722);
}
#button {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-content: center;
  justify-content: center;
}
.account3 {
  padding-top: 150px;
  display: block;
  text-align: center;
  font-size: 30px;
  padding-left: 150px;
}
.account4 {
  display: block;
  text-align: center;
  margin-top: -15px;
  font-size: 20px;
  padding-left: 150px;
}
#submit2 {
  margin: 50%;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: rgb(158, 158, 243);
  border: 0;
  box-shadow: 0 0 5px 2px;
  border-radius: 10px;
  font-size: 25px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  width: 160px;
  height: 50px;
  padding-top: 5px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  position: relative;
}
.submit2 {
  margin: 0
  display: inline;
}
a:link, a:visited {
  position: static;
  text-decoration: none;
  overflow: hidden;
  color: aliceblue;
}
